
.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.login{
  color: white;
  height: 100vh;
  background-color: #191918;
  display: flex;
  flex-direction: row;


}
.Left{
  /* font-family:cursive; */
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  padding-left: 99px;
  /* font-weight: 700; */
font-size: 3.125em;
}
.Right{
  grid-template-rows: auto 1fr auto;
  margin: 15vh auto 0;
  padding-left:140px;
  max-width: 100vhx;
  width: 50%;
  /* font-family:cursive; */
  font-weight: 800;
  text-align: center;
  font-size: 1.25em;
}
.h1{
  font-size: 2.55em;
}
.h5{
  text-align: center;
  padding-right: 392px;
  padding-top: 48px;
  font-size: 1.15em;
  font-weight: bold;
}
.b{
  /* font-size: 1.125em; */
  font-weight: 800;
  width: 242px;
  margin: 30px 22px -26px 32px;
  height: 62px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #231F20;
  border-radius: 12px ;
}
.img{
  margin-right: 1em;
  display: flex;
  padding-left: 19px;
}

.na{

  background-color: #181919;

}

.vr{

}

.g2{

    border-style: none;
    border-radius: 92px;
    background-color: white;
}
.g{
  padding-top: 12px;
  margin-left: 1.1em;
}
.bb3{

      margin: 7vh auto 5px;
}
.footer{
  color: white;
  padding-top: 29px;
  justify-content: space-around;
  font-size: 22px;
  display: flex;
  background-color: #353535;
}
.footerl{
  flex-direction: row;
  padding-left: 12px;
  display: flex;
justify-content: space-between;

}

.T{
  font-weight: bold;
  flex-direction: column;
  display: flex;
  margin-left:  17px;
}
.footerr{
  display: flex;
  align-items: flex-end;

}
.r{
  ont-weight: bold;
  flex-direction: column;
  display: flex;
  margin:  17px;
}

.fr{
  margin: 12px;
}
.footerm{
  font-weight: bold;
}

.cntner{
  padding-top: 28px;
  padding-right: 92px;
}

.Spinner{
  color: white;
  background-color: black;
  width: 200vh;
  height: 100vh;
  padding-right:22px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  letter-spacing: 0.3em;
  font-weight: 800px;
  font-size: 1.9em;
  padding-top: 12px;
}
